/* styles.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

#app-container {
  text-align: center;
  }
  
button, input {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px; /* Add margin to separate elements */
  }

#city {
  font-size: 24px;
  margin-bottom: 10px;
  }
  
#temperature {
  font-size: 36px;
  margin-bottom: 10px;
  }
  
#description {
  font-size: 18px;
  margin-bottom: 10px;
  }
  
#daily-forecast {
  display:none;
  flex-direction: row; /* Change to column to stack items vertically */
  align-items: center; /* Optional: Center items horizontally */
  justify-content: space-around;
  padding: 20px;
  margin-top: 20px;
  background: rgb(0,143,193);
  background: linear-gradient(90deg, rgba(0,143,193,1) 0%, rgba(92,205,255,1) 43%, rgba(193,254,247,1) 100%);
}
  
.daily-forecast-item {
  display:none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  width: 150px;
  height: 150px; /* Set a fixed height for the items */
  overflow: auto; /* Add overflow for cases where content exceeds the height */
  align-items: center;
   }

.daily-forecast-item p {
  margin: 5px 0; /* Add margin between paragraphs */
  }

.day-forecast {
  text-align: center;
  flex: 1;
  padding: 10px;
  }
  
  #weather-icon {
  width: 20vw; 
}
  
@media (max-width: 700px) {
  #weather-icon {
    width: 50vw; /* Adjust icon size for smaller screens */
  }

  #daily-forecast {
    flex-direction: column; /* Stack forecast items in a column on small screens */
  }

  .day-forecast {
    width: 100%;
    margin-bottom: 10px;
  }
}